{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/company.css'%}">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Company</title>
</head>
<style>
    .product-image {}

    .header {
        background: url("{{ company.header.url }}");
        background-repeat: no-repeat;
        height: 50vh;
        opacity: 0.8;
        background-size: cover !important;
    }
</style>

<body>
    <nav class="navbar-fixed-top">
        <div class="search">
            <ion-icon name="search"></ion-icon>
        </div>
        <div class="title">
        <a href="{% url 'companylist' %}"> Mother Coconuts' German Automotive Marketplace </a></div>
        <div class="profile">
<div class="dropdown">
  <button class="dropbtn">
            <ion-icon name="person"></ion-icon></button>
  <div class="dropdown-content">
  <div class="current">Logged in as </div><div class="user">{{request.user}}</div><hr>
  <a href="{% url 'user_logout' %}">Logout</a>
  </div>
</div>
        </div>
        <div class="fav">
            <a href="{% url 'wishlist' %}"><ion-icon name="heart-empty"></ion-icon></a>
        </div>
        <div class="cart">
            <a href="{% url 'cart' %}"><ion-icon name="cart"></ion-icon></a>
        </div>
    </nav>


    <div class="header-info">
        {% if company.user == request.user %}
        <div class="edit-btn">
            <ion-icon name="create"></ion-icon>
        </div>
        {% endif %}
        <div class="company-header">
            <div class="logo">
                <img src="{{company.user.profile_images.url}}" height="120px">
            </div>
            <div class="company-info">
                <div class="name">{{ company }}</div>
                <div class="desc">{{ company.description }}</div>
            </div>
        </div>
    </div>
    <main>
        <div class="header-wrapper">
            <div class="header">

            </div>
        </div>
        <div class="info">
            <div class="sidenav">
                <ul>
                    <div class="category-title">
                        Categories
                    </div>
                    {% for category in categories %}
                    <div class="category-item">
                        <li>
                            <ul>{{category.name}}
                                {% for subcategory in subcategories %}
                                {% if subcategory.category == category %}
                                <div class="subcategory-item">
                                    <li>{{subcategory}}</li>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    </div>
                    {% endfor %}

                </ul>
                
        {% if company.user == request.user %}
            <form action="{% url 'add' %}">{% csrf_token %}
                                    <input type="submit" class="btn btn-primary" value="Add Product">
                                </form>
        {% endif %}
                <!--<div class="categories">
                        <div class="popular-products active">Latest Products</div>
                        <div class="all-products">All Products</div>
                    </div>-->
            </div>
            <div class="main-content">
                <div class="main-col">
                    {% for item in items %}
                    <div class="item">
                        <div class="product-image" style='
    background: url("{{ item.product_image.url }}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 2.5em;
    background-position-x:center;
    padding: 6em;'></div>
                        <div class="product-info">
                            <div class="product-name">{{ item.name }}</div>
                            <div class="product-price">₹ {{ item.rate }}</div>
                            <div class="buttons">
                                {% if company.user == request.user %}
                                <form action="{% url 'view' product_slug=item.slug %}">{% csrf_token %}
                                    <input type="submit" class="btn btn-primary" value="View">
                                </form>
                                <form action="{% url 'edit' product_slug=item.slug %}">{% csrf_token %}
                                    <input type="submit" class="btn btn-primary" value="Edit">
                                </form>
                                <form action="{% url 'delete' product_slug=item.slug %}">{% csrf_token %}
                                    <input type="submit" class="btn btn-primary" value="Delete">
                                </form>
                                {% else %}
                                <form action="{% url 'view' product_slug=item.slug %}">{% csrf_token %}
                                    <input type="submit" class="btn btn-primary" value="Buy">
                                </form>
                                {% endif %}

                                <!--<button>View</button>
                                <button>Add to Cart</button>-->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
    </main>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="edit-form">

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="form-group">
                        <div class="form-label">
                            {{field.label}}
                        </div>
                        {{field}}
                    </div>
                    {% endfor %}
                    <div class="submit">
                        <input type="submit" value="Save" />
                    </div>
                </form>
            </div>
            <div class="close">
                <ion-icon name="close"></ion-icon>
            </div>
        </div>

    </div>

</body>
<script>
    $(function () {
        $(document).scroll(function () {
            var $nav = $(".navbar-fixed-top");
            $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
    });
</script>


<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementsByClassName("edit-btn")[0];

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

</html>