{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Company Dashboard</title>
</head>

<body>
  <h1>View Product</h1>
  {{request.user}}
  Product name: {{ product.name }}-Desc: {{ product.description }}-Rate: {{ product.rate }}-Stock: {{ product.in_stock }}-Company: {{product.company}}-{{product.slug}}-{{product.company.header}}-<img width="100px" src="{{product.product_image.url}}">
</body>

</html>